:root {
  --orange: #ffae15;
  --orange-2: #cc903d;
  --gray-1: #afb0b2;
  --gray-2: #696a6c;
  --gray-3: #5f6062;
  --dark: #1a1b1d;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html,
body {
  overflow-x: hidden;
}

main {
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

p {
  margin: 0;
  padding: 0;
  color: #333;
}

.flex {
  display: flex;
}

header p {
  color: #fff;
}

.header {
  z-index: 99;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-size: 20px;
}

.navbar-menu {
  margin-left: 150px;
  align-items: center;
}

.navbar-menu > a {
  margin-left: 50px;
  text-transform: uppercase;
  font-size: 10px;
}
.navbar-users {
  margin-right: 50px;
}

.navbar-users > a {
  margin-left: 25px;
  text-transform: uppercase;
  font-size: 10px;
}

.container-content {
  margin: 0;
  padding: 0;
}

.img-content {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: auto;
  height: 100vh;
}

.image-fullscreen-container {
  position: relative;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-fullscreen-container .image-content-wrapper {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.image-fullscreen-container h1 {
  font-size: 50px;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  font-weight: 500;
}

.image-fullscreen-container p {
  font-size: 20px;
  color: var(--gray-1);
  margin: 0;
  padding: 0;
}

.image-fullscreen-container button {
  font-size: 20px;
  background-color: orange;
  text-transform: uppercase;
  margin: 0;
  padding: 14px 52px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
}

.image-fullscreen-container .scroll-down {
  position: absolute;
  display: grid;
  place-items: center;
  bottom: 30px;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

.image-fullscreen-container .scroll-down p {
  font-size: 12px;
  color: whitesmoke;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.slider-container {
  position: relative;
  padding: 0 30px;
}

.slider {
  position: relative;
  width: 662px;
  height: 372px;
  background-color: black;
  position: relative;
  overflow: hidden;
  background-image: url("../assets/images/rockpaperstrategy-1600.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slider-container span {
  position: absolute;
  top: 132px;
}

,
slider-container span,
.slider-container object {
  cursor: pointer;
}

.slider-container .prev {
  left: 0;
}

.slider-container .next {
  right: 0;
}

.slider-dot-wrapper {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-dot-wrapper ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 60px;
}

.game-choice-one {
  flex-direction: row;
}

.game-choice-one h3 {
  color: whitesmoke;
  margin-bottom: 8px;
}

.game-choice-one .slider-container {
  margin-top: 32px;
}

.game-choice-two > .title {
  margin-left: 620px;
}

.card {
  background-color: var(--dark);
  width: 380px;
  padding: 28px 26px;
  border-radius: 10px;
}

.card .user-info {
  gap: 12px;
}

.card .fullname h2 {
  color: var(--orange);
  margin-bottom: 4px;
  font-size: 24px;
  font-weight: 500;
}

.card .fullname p {
  color: var(--gray-1);
  margin-bottom: 8px;
  font-size: 16px;
}

.card-title {
  display: flex;
  justify-content: space-between;
}

.card-body {
  margin: 16px 0;
}

.card-body > p {
  color: var(--gray-1);
  font-size: 20px;
}

.card-footer > p {
  color: var(--gray-2);
  font-size: 16px;
}

.cards-container {
  flex-direction: column;
  gap: 30px;
  align-items: end;
}

.cards-container .card:nth-child(2) {
  margin-right: 100px;
}

.avatar-wrapper {
  position: relative;
  width: 50px;
  height: 50px;
}

.avatar-circle {
  position: absolute;
  right: 10px;
  bottom: 0;
  border-radius: 50%;
  overflow: hidden;
}

.avatar-shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.top-scores > .title {
  margin-right: 62px;
}

.top-scores > .title h1 {
  margin-bottom: 8px;
}

.top-scores > .title p {
  margin-bottom: 20px;
}

.footer {
  background-color: black;
}

.footer .footer-navigation {
  flex-direction: row;
  justify-content: end;
}
